@import "reset-css";
@import "./style/card.scss";
@import "./style/filter.scss";
@import "./style/header.scss";
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@400;500&display=swap");

html {
  font-family: Lato, sans-serif;
}

body {
  background-color: #fcfcfc;
}

#app {
  padding: 0 120px;
}
.hero-section{
  display: flex;
}